@import "styles/animations.scss";

.searchBar {
    display: flex;
    align-items: center;
    gap: 0px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.searchBar input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 0px;
    border: none;
    box-shadow: 2rem 0 15px -10px var(--color-secondary);
    outline: none!important;
    border: none!important;

}

@include glassmorphismforclass(".searchBar input");


.searchBar input:focus,
.searchBar button:focus,
.searchBar input:focus ~ button {
    box-shadow: 0 0 0 1px var(--color-secondary);
    outline: none;
    border: none;

}

.searchBar button {
    padding: 0.5rem 1rem;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    filter: saturate(.6);
    background-color: var(--color-white);

}

@include glassmorphismforclass(".searchBar button");

.searchBar input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.searchBar button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.searchBar button:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
    filter: saturate(1) ;

}