.talentSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
  /* background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))); */
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.resultsContainer {
  flex: 1;
  margin-left: 2rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5rem;
}