.talentSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  position: relative;
}

.resultsContainer {
  flex: 1;
  margin-left: 2rem;
  margin-top: 2rem;
  padding-inline: 2vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}