.actionButton {
    padding: .6rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.danger {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.warning {
    background-color: var(--color-warning);
    color: var(--color-white);
}

.success {
    background-color: var(--color-success);
    color: var(--color-white);
}

.actionButton:hover {
    opacity: 0.8;
}