$gradients: (
  pattern1: (
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0,
    background-color: mediumspringgreen,
    background-size: 1.5em 11em\, 1.5em 11em\, 2.3em 8em\, 2.3em 8em\, 3.5em 11em\, 3.5em 11em\, 100% 100%s,
    background-repeat: repeat,
    animation: colors 10s linear infinite
  ),
  pattern2: (
    background: radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0,
    background-color: mediumspringgreen,
    background-size: 1.5em 11em\, 1.5em 11em\, 2.3em 8em\, 2.3em 8em\, 3.5em 11em\, 3.5em 11em\, 100% 100%,
    background-repeat: repeat
  ),
  pattern3: (
    background: radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0,
    background-color: mediumspringgreen,
    background-size: 1.5em 11em\, 1.5em 11em\, 2.3em 8em\, 2.3em 8em\, 3.5em 11em\, 3.5em 11em\, 100% 100%,
    background-repeat: repeat,
    animation: colors 10s linear infinite
  ),
  pattern4: (
    background: linear-gradient(135deg, #0000 18.75%, #5E412F 0 31.25%, #0000 0),
    background-size: 150px 150px,
    animation: colors 10s linear infinite
  ),
  pattern5: (
    background: conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg),
    background-size: 50%/calc(var(--sz) * 12.8) calc(var(--sz) * 22),
    animation: colors 10s linear infinite
  ),
  pattern6: (
    background: linear-gradient(135deg, #0000 18.75%, #5E412F 0 31.25%, #0000 0),
    background-size: 150px 150px,
    
  )
);

@keyframes colors {
  100% {
    filter: hue-rotate(360deg);
  }
}

@each $name, $properties in $gradients {
  .patterns-#{$name}-background {
    background: map-get($properties, background);
    background-color: map-get($properties, background-color);
    background-size: map-get($properties, background-size);
    background-repeat: map-get($properties, background-repeat);
    animation: colors 10s linear infinite;
  }
}
