@import 'normalize.css/normalize.css';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --cards--shadow: 0 0 20px 10px var(--color-primary);
    --border-size: 3px;
    --font-size-large: 32px;
    --border-radius: 15px;
    --size-layout: 4rem;
    --content-margin: 60px;


}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    transition: all 150ms ease-in-out;
}