
@function decimalToHex($number) {
    $hex: "";
    $hexChars: "0123456789ABCDEF";

    @if $number ==0 {
        $hex: "0";
    }
    @else
    {
        @while $number >0 {
            $remainder: $number % 16;
            $hex: str-slice($hexChars, $remainder + 1, $remainder + 1)+$hex;
            $number: floor($number / 16);
        }
    }

    @return $hex;
}
