
$themes: (
  light: (
    color-primary: #4FD7CB,
    color-secondary: #5A9ED6,
    color-warning: #D6993A,
    color-success: #45D678,
    color-danger: #D66965,
    color-black: #495754,
    color-gray: #748A85,
    color-white: #F0FFFC,
  ),
  // TODO: add dark theme
  dark: (
    color-primary: darken(#D55563, 30%),
    color-secondary: darken(#8ACFC9, 30%),
    color-black: lighten(#495754, 30%),
    color-gray: lighten(#748A85, 30%),
    color-white: darken(#F0FFFC, 30%),
  )
);