$themes: (
  light: (
    color-primary: #4fd7cb,
    color-secondary: #5A9ED6,
    color-warning: #D6993A,
    color-success: #45D678,
    color-danger: #D66965,
    color-black: #495754,
    color-text: #142421,
    color-text-alt: #24423c,
    color-gray: #748A85,
    color-white: #F0FFFC,
  ),
  // TODO: add dark theme
  dark: (
    color-primary: hsl(177, 85%, 24%),
    color-secondary: hsl(211, 89%, 31%),
    color-warning: hsl(41, 73%, 45%),
    color-success: hsl(121, 63%, 27%),
    color-danger: hsl(2, 72%, 31%),
    color-black: hsl(168, 0%, 80%),
    color-text: hsl(168, 100%, 97%),
    color-text-alt: hsl(5, 38%, 79%),
    color-gray: hsl(166, 14%, 50%),
    color-white: hsl(169, 34%, 11%),
  )
);