/* block element modifier */

.profile {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;

}

.profile__title {
    text-align: center;
    align-items: center;
    font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman", serif;
    font-size: var(--font-size-large);
    padding-block: 3rem 2rem;

}

.profile__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman", serif;

}
