.card {
    min-width: 300px;
    max-width: 600px;
    width: 30vw;
    min-height: 460px;
    position: relative;
    margin-inline: 25%;
    filter: grayscale(.8);
}

.card > * {
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 20px;
    border-radius: .6rem;
    position: absolute;
}

//is activated when the mouse is hovered over the card element.
.card--active {
    filter: grayscale(0);
}