.teamWorkSection {
    margin-bottom: 2rem;
}

.teamProjectCard {
    padding: 1rem;
    background-color: var(--color-white);
    box-shadow: var(--cards--shadow);
    border-radius: var(--border-size);
    margin-bottom: 1rem;
}