.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 560px;
}

.profile__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin-right: 20px;
}

.carousel {
    display: flex;
    align-items: center;
}

.carousel__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: none;
    color: #333;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
}

.carousel__button--prev {
    border-radius: 50%;
    margin-right: 10px;
}

.carousel__button--next {
    border-radius: 50%;
    margin-right: 10px;
}

.carousel__slide-container {
    position: relative;
    flex-grow: 1;
}

.carousel__slide {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.carousel__slide--active {
    display: block;
    opacity: 1;
}

.user-info {
    display: flex;
}

.name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.description {
    margin-bottom: 1rem;
}

.icons {
    padding: 50px;
    margin-right: 10px;

}
.contact-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.programming-languages {
    display: flex;
    gap: 10px;
}
