.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 560px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.title {
    font-size: 18px;
    margin-top: 10px;
}

.description {
    margin-top: 10px;
}