.chat-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    padding: 20px;
    background-color: var(--color-white);
}

.chat-user-list {
    width: 100%;
    overflow: hidden;
}

.chat-user-list h3 {
    font-size: 30px;
    margin: 0 0 10px;
}

.chat-user-list ul {
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.chat-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 1rem; 
    margin-bottom: .3rem;
    cursor: pointer;
}

.chat-user--active {
    background-color: var(--color-primary);
    color: var(--color-text-alt) !important;
    margin: 0px!important ;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.chat-user--inactive {
    transition: all 150ms linear;
    background-color: transparent;
    color: transparent !important;
    max-height: 0px !important;
    padding-block: 0px !important;
    margin-block: 0px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}

.chat-user--inactive > * {
    transition: all 100ms linear;
    opacity: 0;
}

.time {
    background-color: var(--color-white);
    color: var(--color-text-alt) !important;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    display: flex;
}

.chat-user:not(:last-child) {
    margin-bottom: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    flex-grow: 1;
}

.no-users {
    font-style: italic;
    color: var(--color-text-alt) !important;
}