@import "styles/animations.scss";

.secondaryButton {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: .6rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.secondaryButton:hover {
  filter: hue-rotate(20deg) saturate(1.5);

}