@import "styles/animations.scss";

.input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    background-color: transparent;
}

.input label {
    display: block;
    top: 1.7rem;
    position: absolute;
    font-weight: bold;
    cursor: cell;
    user-select: none;
    transition: all 150ms ease-in-out;
    transform: scale(1);
}

.input__field {
    width: 100%;
    padding: .6rem;
    font-size: 16px;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    background-color: transparent;
    margin-block-start: 1rem;
    outline: none !important;
}

.input__field:focus~label {
    top: 0rem !important;
    transform: scale(.8) !important;
}

.label--active {
    top: 0rem !important;
    transform: scale(.8) !important;
}