@import "styles/animations.scss";

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input__field {
  width: 100%;
  padding: .6rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);

}
