.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
}

.profile__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;

}

.icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.profile-picture {
    border-radius: 150px;
    width: 170px;
    height: 170px;

}

.user-info {
    text-align: left;
    display: flex;

}

.icon-profile {
    padding: 10px 20px 0 0;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin-right: 20px;
    float: left;
}

.carousel {
    display: flex;
    align-items: center;
}

.carousel__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: none;
    color: var(--color-text-alt) !important;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
}

.carousel__button--prev {
    border-radius: 50%;
    margin-right: 10px;
}

.carousel__button--next {
    border-radius: 50%;
    margin-right: 10px;
}

.carousel__slide-container {
    position: relative;
    flex-grow: 1;
}

.carousel__slide {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.carousel__slide--active {
    display: block;
    opacity: 1;
}

.name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}

.title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.description {
    margin-bottom: 1rem;

}

.button {
    height: 50px;
    width: 50px;

}

.programming-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}