
.info_profile {
    position: relative;
    float: right;
    justify-content: center;
    padding-right: 100px;
    padding: 3rem;
    border: solid 1px #ccc;
    border-radius: var(--border-radius, 14px);
    height: auto;
    box-sizing: border-box;
    width: calc(100vw - (320px + 5rem));
}

.info_profile h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
    padding: 1rem;
}

.info_profile h3 {
    font-size: 25px;
    text-align: center;
    position: relative;
    padding: 1rem;
}

.info_profile p {
    font-size: 20px;
    text-align: left;

}

.info_profile li {
    font-size: 19px;
    text-align: left;

}

.campo h2::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    bottom: -0.1rem;

}

.campo h3::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    bottom: -0.2rem;

}
