.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: none;
    color: var(--color-black);
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 30px;
}

.carousel__button--prev {
    border-radius: 50%;
    margin-right: 10px;
}

.carousel__button--next {
    border-radius: 50%;
    margin-right: 10px;
}

.carousel__slide-container {
    position: relative;
    flex-grow: 1;
}

.contactsprofiles {
    position: absolute;
    bottom: -5px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-color: transparent;
    border-radius: 50px;
    background-color: var(--color-primary);
    color: var(--color-black);
}