.form__job {
    margin-bottom: 20px;
}

.form__job label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form__job input[type='text'] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-gray);
    background-color: transparent;
    border-radius: 5px;
}

.form__job datalist {
    margin-top: 5px;
}

.form__job datalist option {
    padding: 5px;
}