
.profile {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    flex-wrap: nowrap;
}


.profileRight > * {
    padding: 2rem;
    border: solid 1px #ccc;
    border-radius: var(--border-radius, 14px);
    box-sizing: border-box;
    margin: 1rem;
    width: calc(100% - (2rem + 2px));
}

