
.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    height: 2000vh;
    padding-top: 2rem;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;

}

.campo {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
}



p {
    font-size: 16px;
    color: #555;
}


