.profileHeader {
    text-align: center;
    padding: 2rem;
    background-color: var(--background-start-rgb);
    background-image: linear-gradient(to bottom,
            rgb(var(--background-start-rgb)),
            rgb(var(--background-end-rgb)));
    color: var(--foreground-rgb);
}

.profileImage {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.fullName {
    font-size: var(--font-size-large);
    margin: 1rem 0;
}

.professionalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
}

.sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}