.chatHeader {
    position: relative;
    background-color: var(--color-white);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
}

.avatarprofile {
    height: 50px;
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;

}

.chat-container {
    width: 360px;
    height: 100%;
    min-height: 80vh;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.message-container {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.message-container article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    background-color: var(--color-white);
    border-radius: 5px;
    padding: .4rem 1rem;
    margin: 0px;
    max-width: 80%;
    width: fit-content;
}

.message.user {
    align-self: flex-end;
    background-color: var(--color-primary);
    order: +1;
}

.message-text {
    float: right;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.input-container input {
    flex: 1;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 3px;
    padding: 10px;
    border: none;
    outline: none;
    border: none;
}

.input-container input:hover,
.input-container input:focus {
    box-shadow: 0 0 1px inset var(--color-secondary);
    outline: none;
    border: none;
}

.input-container button {
    display: grid;
    place-items: center;
    color: var(--color-primary);
    border: none;
    background-color: transparent;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    border: none!important;
    outline: none!important;
}

.input-container button:hover,
.input-container button:focus  {
    color: var(--color-secondary);
    box-shadow: 0 0 1px inset var(--color-secondary);
}


.username {
    padding: 10px;
    font-weight: bold;
    flex-grow: 1;
}

.user-name-profile {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    flex-grow: 1;
    float: none;
    vertical-align: 20px;
}

.profilechat {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.profile-header {
    background-color: var(--color-primary);
    height: 4rem;
}