
/* block element modifier */

.navigation {
    --size: 4rem;

    display: flex;
    justify-content: center;
}

.navigation__buttons {
    height: var(--size);
    padding-inline: 1rem;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: 200;
}


.navigation__buttons:hover {
    box-shadow: 0 0 0 var(--boder-size) inset var(--color-secondary);
    /* box-shadow: h v rd s; */
}

.navigation__buttons--active {
    box-shadow: 0 var(--boder-size) 0 0 inset var(--color-secondary);
    height: var(--size);
    cursor: normal;
    color: var(--color-secondary);
    font-weight: 400;
}
