@import "styles/animations.scss";

.dropdown {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    width: 100%;
}

.dropdown label {
    display: block;
    bottom: 0.6rem;
    position: absolute;
    font-weight: bold;
    cursor: cell;
    user-select: none;
    transition: all 150ms ease-in-out;
    transform: scale(1);
}

.dropdown input[type='text'] {
    width: 100%;
    padding: .6rem;
    font-size: 16px;
    border: none !important;
    outline: none !important;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px inset #ccc;
    box-sizing: border-box;
    margin-block-start: 1rem;
}

.dropdown__container-list {
    position: absolute;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: calc(100% - (var(--border-radius) * 2));
    max-height: 0px;
    overflow-y: auto;
    border-radius: var(--border-radius);
    z-index: 90;
    padding: 0px;
    transition: all 150ms ease-in-out;
    transition-delay: .3s;
    overflow: hidden;
    bottom: 0px;
    transform: translateY(100%);

}

@include glassmorphismforclass(".dropdown__container-list");

.dropdown__container-list {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dropdown input[type='text']:focus~.dropdown__container-list {
    max-height: 200px;
    transition-delay: 0ms;
}

.dropdown input[type='text']:focus~label,
.label--active {
    bottom: 2.4rem !important;
    transform: scale(.8) !important;
}

.dropdown__icon {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem;
    cursor: pointer;
    box-shadow: 0 1px 0 0 inset #ccc;
    color: initial;
    transition: all 150ms ease-in-out;
    transition-delay: 0ms !important;
    padding-inline: 2rem;
    background: transparent;
    outline: none;
    border: none;
}

.dropdown__icon:hover {
    color: var(--color);
    box-shadow: 0 1px 0 0 inset #ccc, 0 0 1px 0px inset var(--color);
}

.dropdown__icon:first-child {
    box-shadow: none;
}

.selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px;
}

@include glassmorphismforclass(".selected-items > *");

.selected-items>* {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    transition-delay: 0ms !important;
    background: transparent;
    outline: none;
    border: none;
    color: var(--color);
    box-shadow: 0 0 1px 0px inset var(--color);
}

.selected-items>*:hover {
    color: var(--color-danger);
    box-shadow: 0 0 1px 0px inset var(--color-danger);
}