@import "styles/animations.scss";

#contentProject {
    display: flex;
    /*margin: var(--content-margin);*/
    justify-content: center;
}

/*#contentprofile {
    margin-left: var(--contentprofile-margin-left);
}*/

.project {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    padding-top: 2rem;

    .projectDetails {
        padding: 1rem;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
        position: sticky;
        top: 1rem;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                &>span {
                    color: var(--color-text-alt);
                }

                a {

                    display: flex;
                    gap: 1rem;
                    justify-content: flex-start;
                    color: white;
                    text-decoration: none;
                    background-color: var(--color-primary);
                    padding: 10px 15px;
                    border-radius: var(--border-radius);

                    &:hover {
                        filter: brightness(1.2) saturate(1.2);
                    }
                }

                .badge {
                    background-color: var(--color-gray);
                    color: var(--color-text);
                    padding: 0px;
                    border-radius: var(--border-radius);
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    gap: 1rem;
                    align-items: center;
                }
            }

        }

        h1,
        h2,
        h3,
        p {
            margin: 5px 0;
        }
    }

    .focusInfo {
        width: calc(100vw - (300px + 7rem));
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .projectProfessional {
            h2 {
                grid-column: 1 / -1;
                justify-self: center;
                justify-content: center;
            }

            gap: 6rem 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center;

        }


        .projectMultimedia {
            display: grid;
            grid-gap: 1rem;

            &>section {

                // Estilos de la barra de desplazamiento para navegadores Webkit (Chrome, Safari, Edge)
                &::-webkit-scrollbar {
                    width: .5rem;
                    border-radius: var(--border-radius);
                }

                &::-webkit-scrollbar-track {
                    background-color: rgba(110, 110, 110, 0.003);
                    border-radius: var(--border-radius);
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--color-primary);
                    border-radius: var(--border-radius);
                    box-shadow: 2rem 0px 2rem var(--color-secondary), -2rem 0px 2rem var(--color-secondary), 0px 0px 3px 1px inset var(--color-secondary), -5rem 0px 3rem -4rem inset var(--color-secondary), 5rem 0px 3rem -4rem inset var(--color-secondary);
                }

                scrollbar-width: thin;
                scrollbar-color: rgb(255 255 255 / 15%) var(--color-primary);

                display: grid;
                grid-auto-columns: calc(100% - 2rem);
                grid-auto-flow: column;
                gap: 4rem;
                overflow-x: scroll;
                padding: 1rem;
                scroll-behavior: smooth;
                scroll-snap-points-x: repeat(100%);
                scroll-snap-type: x mandatory;
                overflow-y: hidden;

                &>div {
                    scroll-snap-align: center;
                    scroll-snap-stop: always;
                    grid-column: span 1;
                    grid-row: span 1;
                    display: grid;
                    grid-gap: 1rem;
                    opacity: 0.4;
                    align-items: center;
                    justify-content: center;
                    transition: opacity 0.6s ease-in-out;

                    &>*:not(span) {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: var(--border-radius);
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &>section>div>span {
                color: var(--color-text-alt);
            }
        }
    }

}
