@import "styles/animations.scss";

.info_projects {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

@include glassmorphismforclass(".info_projects > * > article");

.info_projects>*>article {
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--color-primary) !important;
    filter: grayscale(.8);
    cursor: pointer;
    height: 100%;
}

.info_projects h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    grid-column: 1/-1;
}

.info_projects h2 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5px;
}

.info_projects p {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color-text);
}

.repo-stars {
    font-size: 18px;
    color: var(--color-text-alt) !important;
}

.info_projects>*>article:hover {
    filter: grayscale(0);
}

.start {
    color: var(--color-warning)
}