.alert-wrapper {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    right: 0px;
    bottom: 0px;
} 

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    position: relative;
    transition: all 0.25s ease-in-out;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: var(--color-secondary);
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: var(--color-success);
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: var(--color-warning);
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: var(--color-danger);
}
