@import 'styles/animations.scss';

@include liquid0x00(generateAnimationName(0, "liquid"), (transform: translate(42%, -65%) rotate(3deg)), 1.03, 0%);
@include liquid0x01();
$photoTopLeftStart: (
    topRight: 45% 60%,
    bottomRight: 52% 60%,
    bottomLeft: 60% 40%,
    topLeft: 60% 40%
);
$photoTopLeftEnd: (
    topRight: 60% 55%,
    bottomRight: 60% 52%,
    bottomLeft: 40% 58%,
    topLeft: 40% 58%
);

@include liquid0x01(#{generateAnimationName(1, "liquid") + 'Photo'}, $photoTopLeftStart, $photoTopLeftEnd);

$onlyTopLeftStart: (
    topRight: 0% 0%,
    bottomRight: 0% 0%,
    bottomLeft: 0% 0%,
    topLeft: 60px 40px
);
$onlyTopLeftEnd: (
    topRight: 0% 0%,
    bottomRight: 0% 0%,
    bottomLeft: 0% 0%,
    topLeft: 50px 15px
);

@include liquid0x01(#{generateAnimationName(1, "liquid") + 'Wrapper'}, $onlyTopLeftStart, $onlyTopLeftEnd);


@include glassmorphismforclass(".talentPreview");


.not-opasity {
    opacity: 1 !important;
}

.talentPreview {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25), .5px .5px 0px inset rgba(255, 255, 255, 0.30), 0 6.5rem 0 0 inset var(--color-primary);
    padding: 20px;
    color: white;
    font-size: 20px;
    border-top-left-radius: 0;
    line-height: 20px;
    text-align: justify;
    flex-grow: 1;
    position: relative;

    & header {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;

        & h3 {
            text-align: left!important;
        }

        & figure {
            width: 6rem;
            position: relative;
            margin: 0;
            padding: 0;

            & img {
                top: 0;
                left: 0;
                width: 8rem;
                height: 8rem;
                transform: translate(-8%, -65%);
                position: absolute;
                box-shadow: 0 3px 0px 10px var(--color-primary);
                border-radius: 50%;
            }
        }
    }
    &::before {
        height: 6rem;
        z-index: initial;
        transition: all .7s ease-in-out -.4s, background-color 250ms ease-in-out;
    }

    & main ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: unset;
        list-style: none;
        width: 35%;
        padding-inline-start: 1rem;
        margin: auto;
        gap: 10px;
    }

    &:hover {
        --color-primary: var(--color-secondary);
    }

    .talentInfo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3 {
            margin: 0;
            color: var(--color-secondary);
        }

        p {
            margin: 0;
            color: var(--color-black);
            font-size: 14px;
        }
        
        h2 {
            margin: 0;
            color: var(--color-black);
            text-align: center;
            font-size: 20px;
        }
    }

    .contactsearch {
        background-color: var(--color-white);
        color: var(--color-black);
        height: 30px;
        width: 30px;
        font-size: 16px;
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;
        display: grid;
        place-content: center;
        border: none;
        outline: none;
        position: absolute;
        right: 1rem;

    }

    .contactsearch:hover {
        background-color: var(--color-white);
    }

    .contactsearch:active {
        background-color: var(--color-gray);
    }



}