
@import 'styles/animations.scss';

@include liquid0x00(generateAnimationName(0, "liquid"), (transform: translate(42%, -65%) rotate(3deg)), 1.03, 0%);
@include liquid0x01();
$photoTopLeftStart:(topRight: 45% 60%, bottomRight: 52% 60%, bottomLeft: 60% 40%, topLeft: 60% 40%); 
$photoTopLeftEnd: (topRight: 60% 55%, bottomRight: 60% 52%, bottomLeft: 40%  58%, topLeft: 40% 58%);

@include liquid0x01(#{generateAnimationName(1, "liquid") + 'Photo'} , $photoTopLeftStart, $photoTopLeftEnd);

$onlyTopLeftStart: (topRight: 0% 0%, bottomRight: 0% 0%, bottomLeft: 0% 0%, topLeft: 60px 40px);
$onlyTopLeftEnd: (topRight: 0% 0%, bottomRight: 0% 0%, bottomLeft: 0% 0%, topLeft: 50px 15px);

@include liquid0x01(#{generateAnimationName(1, "liquid") + 'Wrapper'} , $onlyTopLeftStart, $onlyTopLeftEnd);


.talentPreview {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 6.5rem 0 0 inset var(--color-secondary);
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 0;
    line-height: 20px;
    text-align: justify;
    flex-grow: 1;
    position: relative;

    & header {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        width: 100%;

        & figure {
            width: 6rem;
            position: relative;
            margin: 0;
            padding: 0;

            & img {
                top: 0;
                left: 0;
                width: 8rem;
                height: 8rem;
                transform: translate(-8%, -65%);
                position: absolute;
                box-shadow: 0 3px 0px 10px var(--color-secondary);
                border-radius: 50%;
            }
        }
    }

    &:hover {
        border-radius: 60px 0 0 0 / 40px 0 0 0;
        box-shadow: 0 6.5rem 0 0 inset var(--color-secondary), 0 0 20px -10px var(--color-secondary);
        animation:  #{generateAnimationName(1, "liquid") + 'Wrapper'} 3s infinite linear 250ms;
    }

    &:hover header figure img {
        top: 1rem;
        border-radius: 60% 45% 52% 60% / 40% 60% 60% 40%;
        box-shadow: 0 3px 0px 10px var(--color-secondary), -5px -10px 20px -10px var(--color-secondary);
        transform: translate(-8%, -65%) rotate(3deg);
        animation: #{generateAnimationName(0, "liquid")} 3s infinite linear 250ms, #{generateAnimationName(1, "liquid") + 'Photo'} 3.5s infinite linear 250ms;
    }

    &::after,
    &::before
     {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 6%;
        height: 8rem;
        transform: translate(100%, 5%) scaleX(3);
        transition: all .7s ease-in-out .1s, background-color 250ms ease-in-out;
        background-color: royalblue;
        z-index: -1;
        background-color: var(--color-secondary);
        animation-delay: 1s;
    }

    
    &::before {
        height: 6rem;
        z-index: initial;
        transition: all .7s ease-in-out -.4s, background-color 250ms ease-in-out;
    }

    &:hover::before {
        background-color: var(--color-primary);
        transform: translate(822%, 55%) rotateX(-100deg) scaleX(16);
        animation:  #{generateAnimationName(1, "liquid")} 3s infinite linear;
    }
    
    &:hover::after {
        transform: translate(822%, -50%) rotateX(-100deg) scaleX(16);
        background-color: var(--color-primary);
        animation:  #{generateAnimationName(1, "liquid")} 3s infinite linear;
    }

    & main ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: unset;
        list-style: none;
        width: 35%;
        padding-inline-start: 1rem;
        margin: auto;
        gap: 10px;
    }

    &:hover {
        --color-secondary: var(--color-primary);
    }

    .talentInfo {
        h3 {
            margin-bottom: 0.5rem;
            color: var(--color-primary);
        }

        p {
            margin-bottom: 0;
            color: var(--color-black);
        }
    }
}