@import 'styles/animations.scss';
@import 'styles/variables.scss';


.filterPanel {
    width: 300px;
    background-color: var(--color-white);
    position: fixed;
    padding: 1rem;
    z-index: 30;
    left: 0rem;
    top: 1rem;
    border-radius: 0px 15px 15px 0px;
    transform:  translateX(-100%);
    transition: all 150ms ease-in-out, transform 0.5s ease-in-out;
    box-shadow: none;
    border: none;
    height: 90vh;
    overflow: visible;
}

@include glassmorphismforclass(".filterPanel--active");

.filterPanel--active {
    border-radius: 0px 15px 15px 0px;
    transform: translateX(0%);
}


.filterPanel > *:not(.filterIcon) {
    opacity: 0;
    transition: all 150ms ease-in-out 0.25s ;
    transform: translateX(-10%);
}

.filterPanel--active > *:not(.filterIcon) {
    opacity: .6;
    transform: translateX(0%);
}

.filterPanel--active > .filterIcon {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%);
}

.filterIcon {
    position: absolute;
    top: 4rem;
    left: 350px;
    color: var(--color-secondary);
    cursor: pointer;
    padding: .3rem;
    padding-bottom: 0px!important;
    font-size: 1.5rem;
}

@include glassmorphismforclass(".filterIcon");

.filterSectionScroll {
    overflow-y: auto;
    height: 100%;
}

.filterSection {
    margin-bottom: 1.5rem;
}

.filterSection h3 {
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}


.filterSection label {
    display: block;
    margin-bottom: 0.25rem;
}
