@import 'styles/animations.scss';
@import 'styles/variables.scss';


$photoTopLeftStart: (topRight: 50% 2%, bottomRight: 5% 80%, bottomLeft: 80% 2%, topLeft: 100% 5%);
$photoTopLeftEnd: (topRight: 80% 5%, bottomRight: 2% 100% , bottomLeft: 50% 5% , topLeft: 120% 2% );
@include liquid0x01(#{generateAnimationName(1, "liquid")} );
@include liquid0x01(#{generateAnimationName(1, "liquid") + "Active"}, $photoTopLeftStart, $photoTopLeftEnd );

.filterPanel {
    width: 300px;
    background-color: var(--color-white);
    position: fixed;
    padding: 1rem;
    z-index: 30;
    left: 0rem;
    top: 1rem;
    border-radius: 0px 15px 15px 0px;
    transform:  translateX(-100%);
    transition: all 250ms ease-in-out, transform 0.5s ease-in-out;
    box-shadow: none;
    border: none;
    height: 90vh;
    overflow: visible;
}

.filterPanel--active {
    @include glassmorphism( map-get(map-get($themes, light), color-white), 15px, 0.6);
    border-radius: 0px 15px 15px 0px;
    transform: translateX(0%);
}


.filterPanel > *:not(.filterIcon) {
    opacity: 0;
    transition: all 250ms ease-in-out 0.25s ;
    transform: translateX(-10%);
}

.filterPanel--active > *:not(.filterIcon) {
    opacity: .6;
    transform: translateX(0%);
}

.filterPanel--active > .filterIcon {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%);
}

.filterIcon {
    position: absolute;
    top: 4rem;
    left: 350px;
    color: var(--color-secondary);
    cursor: pointer;
    padding: .3rem;
    padding-bottom: 0px!important;
    font-size: 1.5rem;
}

@include glassmorphismforclass(".filterIcon");

.filterSectionScroll {
    overflow-y: auto;
    height: 100%;
}

.filterSection {
    margin-bottom: 1.5rem;
}

.filterSection h3 {
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}


.filterSection label {
    display: block;
    margin-bottom: 0.25rem;
}

/* .filterSection input,
.filterSection select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0px;
    border: 1px solid var(--color-gray);
    box-sizing: border-box;
} */